<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <h1>Delete a Captain</h1>
        <form action="/captain/delete" method="POST">
          <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
          </div>
          <div>
            <button type="submit" value="Submit">Delete Captain</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
