<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <h1>Results</h1>
    <% averages.forEach(function(cart) { %>
        <p>- cart <%= cart.id %> average: $<%= cart.average %></p>
    <% }); %>
</body>
</html>