<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <h1>Update a Captain</h1>
        <form action="/captain/update" method="POST">
          <label for="id">ID:</label>
          <input type="text" id="id" name="id"><br><br>
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="newfirstname"><br><br>
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="newlastname"><br><br>
          <label for="space_rank">Space Rank:</label>
          <input type="text" id="space_rank" name="newspace_rank"><br><br>
          <label for="homeplanet">Home Planet:</label>
          <input type="text" id="homeplanet" name="newhomeplanet"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
