<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <h1>Update a Spaceship</h1>
        <form action="/spaceship/update" method="POST">
          <label for="maxweight">Maxweight:</label>
          <input type="text" id="maxweight" name="maxweight"><br><br>
          <label for="captainid">Captain ID:</label>
          <input type="text" id="captainid" name="captainid"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
